<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js"></script>
	<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css" rel="stylesheet" />

	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico" />
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icons/favicon.ico') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css"
		href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css"
		href="{{ url_for('static',filename='fonts/iconic/css/material-design-iconic-font.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css"
		href="{{ url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css"
		href="{{ url_for('static',filename='vendor/animsition/css/animsition.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css"
		href="{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.css') }}">
	<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="../static/styles/util.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="../static/styles/login.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}"> -->
	<!--===============================================================================================-->
</head>
<style>
	body {
		margin: 0;
		padding: 0;
	}

	#map {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	}
</style>

<body>

	<div id="map"></div>




	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoiY2hyaXN0b3BoZWsiLCJhIjoiY2plZ3dhMXVwMmt1NjJ3cWV2ODR0MDVyYyJ9.JmOnpYCH6wSz0GaMyJSUGQ';
		var map = new mapboxgl.Map({
			container: 'map', // container id
			style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
			center: [8.227512, 46.818188], // starting position [lng, lat]
			zoom: 7 // starting zoom
		});

		map.addControl(
			new mapboxgl.GeolocateControl({
				positionOptions: {
					enableHighAccuracy: true
				},
				trackUserLocation: true
			})
		);



		map.on('load', function () {
			map.loadImage(
				"{{ url_for('static',filename='images/icons/logo_transparent.png') }}",
				function (error, image) {
					if (error) throw error;
					map.addImage('cat', image);
					map.addSource('point', {
						'type': 'geojson',
						'data': {
							'type': 'FeatureCollection',
							'features': [
								{
									'type': 'Feature',
									'geometry': {
										'type': 'Point',
										'coordinates': [8.227512, 46.818188]
									}
								},
								{
									'type': 'Feature',
									'geometry': {
										'type': 'Point',
										'coordinates': [8.427512, 46.718188]
									}
								}
							]
						}
					});
					map.addLayer({
						'id': 'points',
						'type': 'symbol',
						'source': 'point',
						'layout': {
							'icon-image': 'cat',
							'icon-size': 0.1
						}
					});
				}
			);
		});


	</script>
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<!--===============================================================================================-->
	<script src="../static/vendor/animsition/js/animsition.min.js"></script>
	<script type="text/javascript"
		src="{{ url_for('static',filename='vendor/animsition/js/animsition.min.js')}}"></script>
	<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.js')}}"></script>
	<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='vendor/select2/select2.min.js')}}"></script>
	<!--===============================================================================================-->
	<script src="../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript"
		src="{{ url_for('static',filename='vendor/daterangepicker/moment.min.js')}}"></script>
	<script type="text/javascript"
		src="{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
	<!--===============================================================================================-->
	<script src="../static/vendor/countdowntime/countdowntime.js"></script>
	<script type="text/javascript"
		src="{{ url_for('static',filename='vendor/countdowntime/countdowntime.js')}}"></script>
	<!--===============================================================================================-->
	<script src="../static/js/login.js"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/register.js')}}"></script>

</body>

</html>