<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icons/favicon.ico') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/iconic/css/material-design-iconic-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="../static/styles/util.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="../static/styles/login.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}"> -->
<!--===============================================================================================-->
</head>
<body>

	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<h2>
				Signup - volonteer 1/3  
			</h2>
			<form>
				<div class="form-group">
				  <label for="exampleFormControlSelect1">What can you do ?</label>
				  <select multiple class="form-control" id="exampleFormControlSelect1">
					<option>House cleaning</option>
					<option>Groceries shopping</option>
					<option>Call check</option>
					<option>Cooking</option>
					<option>Housework</option>
				  </select>
				</div>
				<div class="form-group">
					<label>How old are you</label>
					<input type="number" class="form-control" id="exampleFormControlTextarea1" ></input>
				</div>
				<div class="form-group">
					<label>Zip code</label>
					<input type="number" class="form-control" id="exampleFormControlTextarea1" ></input>
				</div>
				<!-- <div class="form-group">
				  <label for="exampleFormControlSelect2">Example multiple select</label>
				  <select class="form-control" id="exampleFormControlSelect2">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				  </select>
				</div>
				<div class="form-group">
				  <label for="exampleFormControlTextarea1">Example textarea</label>
				  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				</div>
				<button type="button" class="btn btn-primary btn-block">
					Button
				</button> -->
			  </form>
		</div>
		<div class="col-md-4">
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<h2>
				Signup - volonteer 2/3  
			</h2>
			<form>
				<div class="form-group">
					<label>First Name</label>
					<input type="text" class="form-control" id="exampleFormControlTextarea1" ></input>
				</div>
				<div class="form-group">
					<label>Last Name</label>
					<input type="text" class="form-control" id="exampleFormControlTextarea1" ></input>
				</div>
				<div class="form-group">
					<label>Phone number</label>
					<input type="text" class="form-control" id="exampleFormControlTextarea1" ></input>
				</div>
				<div class="form-group">
					<label>Email address</label>
					<input type="email" class="form-control" id="exampleFormControlTextarea1" ></input>
				</div>

				<div class="form-group">
					<label for="exampleFormControlFile1">Picture</label>
					<input type="file" class="form-control-file" id="exampleFormControlFile1">
				  </div>

				  <div class="form-group">
					<label for="exampleFormControlFile1">Id Card</label>
					<input type="file" class="form-control-file" id="exampleFormControlFile1">
				  </div>
				<!-- <div class="form-group">
				  <label for="exampleFormControlSelect2">Example multiple select</label>
				  <select class="form-control" id="exampleFormControlSelect2">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				  </select>
				</div>
				<div class="form-group">
				  <label for="exampleFormControlTextarea1">Example textarea</label>
				  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				</div>
				<button type="button" class="btn btn-primary btn-block">
					Button
				</button> -->
			  </form>
		</div>
		<div class="col-md-4">
		</div>
	</div>

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/animsition/js/animsition.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='vendor/bootstrap/js/popper.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.js')}}"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='vendor/daterangepicker/moment.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/countdowntime/countdowntime.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='vendor/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
	<script src="../static/js/login.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/register.js')}}"></script>

</body>
</html>